p {
    text-align: left;
    color: red;
}
#center {
    text-align: center;
    color: blue;
}
.center {
    text-align: center;
    color: green;
}
div.center {
    text-align: center;
    color: pink;
}

/* div.center 와 .center 순서를 바꿔도 div.center의 우선순위가 높기 때문에 제일 마지막에 실행되어서
코드 순서를 둘이 바꿔도 실행 순서는 똑같기 때문에 변하지 않는다. */

div span {

    color: green;
}

div > span {
    color: gray;
}